apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Jaeger
    orgId: 1

# list of datasources to insert/update depending on what's available in the database
datasources:
  # ================================================================================
  # Prometheus Datasource (Metrics)
  # ================================================================================
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s

  # ================================================================================
  # Elasticsearch Datasource (Logs)
  # ================================================================================
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: logs-*
    editable: true
    jsonData:
      esVersion: 8.10.0
      timeField: '@timestamp'
      logMessageField: message
      logLevelField: level
      dataFormat: time_series
      timeInterval: 1m
      maxConcurrentShardRequests: 256
      minInterval: 10ms

  # ================================================================================
  # Jaeger Datasource (Traces)
  # ================================================================================
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger-collector:16686
    isDefault: false
    editable: true
    jsonData:
      nodeGraph:
        enabled: true
      tracesToLogs:
        datasourceUid: 'Elasticsearch'
        tags: []
        mappedTags: []
        mappedFields: []
        spanStartTimeShift: '0'
        spanEndTimeShift: '0'
      tracesToMetrics:
        datasourceUid: 'Prometheus'
        tags: []
        queries: []
      serviceMap:
        datasourceUid: 'Prometheus'

  # ================================================================================
  # Loki Datasource (Logs Alternative)
  # ================================================================================
  # Uncomment if using Loki instead of Elasticsearch
  # - name: Loki
  #   type: loki
  #   access: proxy
  #   url: http://loki:3100
  #   isDefault: false
  #   editable: true
